{% extends 'base.html' %}

{% block content %}
<div class="m-5">
    <h3 class="mb-3">Password Reset</h3>
    <p>Please enter your new password.</p>

    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="">{{field.label_tag}}</div>
        <div class="">{{field}}</div>
        {% for error in field.errors %}
        <p style="color:red;">{{error}}</p>
        {% endfor %}
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
</div>
{% endblock %}